@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin: 0px;
	
}
body{
	font-family:"RM Nenue Bold";
	display:flex;
	flex-direction: column;
	align-items: center;
	background-image: url("img/background.jpg");
	background-attachment:scroll;
 	background-repeat: no-repeat;
	background-position: top left;
	background-size:cover;
}
div{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-self:baseline;
}
header{
	width:1200px;
	
}

main{
	width: 1200px;
}

article{
	padding:50px 0px 30px 30px;
	
}

.encabezado{
	height: 50px;
	background-size: 100%;
	padding: 30px 0px 30px 0px;
	margin-top: 20px;
	margin-bottom:10px;
	background-color: #5e5cb9;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: bottom;
	border-radius: 30px;
}

h1{
	color: #f788c0;
	font-family:"Tahura", "sans serif";
	font-kerning: 20px;
	font-weight: normal;
	font-size: 40px;
	list-style: none;
	display:flex;
	justify-content:center;
	align-items: baseline;
	border-radius: 30px;
}
.encabezado h7{
	display:flex;
	justify-content:center;
	align-items: baseline;
}
.encabezado a{
	text-decoration: none;
	color: #f788c0;
}
h2{
	font-size: 25px;
	
}
h3{
	font-size: 18pt;
	padding-left:5pt;
	border-left: 45px;
	margin-bottom: 10pt;
	width:450px;
}
h4{
	font-size: 15pt;
}
h5{
	font-size: 18pt;
	padding-left:5pt;
	background-color: #f788c0;
	border-radius: 30px;
	border-left: 45px;
	margin-bottom: 10pt;
	width:450px;
}
p{ 
	font-family: "RM Nenue";
	
}

nav{
	border-radius: 30px;
	display:flex;
	justify-content:center;
	align-items: baseline;
}
nav ul{
	list-style: none;
	width: 600px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	
	
}


.contacto{
	padding:10px 0px 10px 0px;
	color: #6162be;
	background-color:#f788c0;
}
.contacto a{
	text-decoration:none;
	color: #6162be;
}
.contacto a:hover{
	color:#fff5fd;
	background-color:#6162be;
	padding:10px 10px 10px 10px;
}

.foto{
	display: flex;
	
}

.presentacion{
	padding:10px 0px 10px 0px;
	display:flex;
	flex-direction: row;
}

img{
	margin: 0px 10px 0px 0px;
	display:flex;
	flex-direction: column;
}

.sobremihobbies{
	width:890px;
	border-radius: 30px;
	background-color:#Fde1f7;
	background-size: 100%;
}

.sobremi{
	padding-right: 90px;
	
}
.hobbies{
	border-radius: 30px;
	background-color:#Fde1f7;
	padding: 0px 110px 0px 30px;
}
.cajarosa{
	padding-left:5pt;
	background-color: #f788c0;
	border-radius: 30px;
	margin-bottom: 10pt;
	padding:20px 0px 20px 10px; 
	
}

.experienciayatributos{
	padding:10px 0px 10px 0px;
	flex-direction: column;
	justify-content: flex-end;
	align-self:flex-end;
}

.experiencia{
	background-color:#c3e7b9;
	border-radius: 30px;
	
}
.experiencia{
	display:flex;
	flex-direction: column;
}
.atributos {
	width: 1200px
	
}
.atributos ul{
	list-style: none;
	display:flex;
	flex-direction:row;
}
.atributos ul li{
	width:235px;
	background-color: #f788c0;
	border-radius: 30px;
	margin: 0px 10px 0px 10px;
	padding:20px 15px 20px 15px;
}

.adobe{
	margin-bottom: 10px;
}
.contbold{
	font-size: 20px;
	padding-right: 20px;
	
}
footer{
	width: 1200px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.redes{
	padding: 0px 8px;
}
.texto-footer {
	padding: 0px 0px 0px 64px;
	font-size: 1.0625em;
}
.redes-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 64px 0px 0px;
}

@font-face{
	font-family: "Tahura";
	src: url("tipos/Tahura.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "RM Nenue";
	src: url("tipos/RMNeue-Regular.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:"RM Nenue Bold";
	src: url("tipos/RMNeue-Bold.otf");
	font-weight: normal;
	font-style: normal;
	
}
/*--------------------------------contacto.HTML----------------------------------------*/
#main-contacto {
	display: flex;
	justify-content: center;
	padding: 45px 0px 20px 0px;
	font-family: "RM Nenue"
}

#formulario{
	background-color: #Fde1f7;
	border-radius: 30px;
	padding:20px 20px 0px 20px;
}

form{
	width: 620px;
	padding:10px 0px 0px 0px;
	display: flex;
	
}
form div{
	width: 50%;
	padding: 15px 25px 20px 0px; 
	
}
input{
	height: 20px;
	border: none;
	background-color:transparent;
    border-bottom: 1px solid #000;
	outline:none;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 15px 0px;
}
::placeholder {
	color:black;
	font-family: "RM Nenue";
	font-size: 18px;
	outline: none;
}
textarea{
	border: none;
	height: 65px;
}
#enviar{
	width: 60px;
	border:none;
	background-color: blueviolet;
}
form div #enviar{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
input [type=checkbox]{
	font-size: 5px;
}


#footer-formulario{
	position: absolute;
	bottom: 0;
}

/*--------------------------------galeria.HTML----------------------------------------*/

#menugaleria{
	display:flex;
	justify-content:center;
	align-content: center;
}
#menugaleria li a{
	color: black;
	text-decoration: none;
	list-style: none;
}

/*--------------------------------ilustracion_galeria.HTML----------------------------------------*/
#ilusdigital{
	padding: 15px 0px 20px 0px;
}
#ilusdigital h2{
	display: flex;
	justify-content: center;
	
}
.carrusel {
	border: none;
	padding: 20px 0px 20px 0px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.carrusel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 510px;
	scroll-behavior: smooth;
}

.carrusel-fotos {
	display: flex;
	gap: 10px;
	overflow: auto;
	align-items: center;
}

.carrusel-fotos img {
	height: 400px;
	width: inherit;
	object-fit: contain;
	border-radius: 30px;
}
#Carruselmenu{
	padding: 0px 0px 30px 0px;
	display:flex;
	justify-content:center;
	align-items: baseline;
	align-items: center;
}
#Carruselmenu .carrusel-menu{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	
}

.carrusel-menu ul li a{
	display: flex;
	flex-direction: row;
}
.carrusel-menu img{
	border-radius:10%;
	
}

@media screen and (min-width: 600px) {
  .carrusel-fotos {
    overflow: hidden;
  }
  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
	list-style: none;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
  }
  .carrusel-menu img:hover {
    border: none;
  }
	.carrusel-menu ul li{
	list-style: none;
}
}

p {
  text-align: center;
}