@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin: 0px;
	
}
body{
	font-family:"RM Nenue Bold";
	display:flex;
	flex-direction: column;
	align-items: center;
	background-image: url("img/index/background.jpg");
	background-attachment:scroll;
 	background-repeat: no-repeat;
	background-position: top left;
	background-size:cover;
}
div{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-self:baseline;
}
header{
	width:80%;
	
}

main{
	width: 80%;
}
.altura{
	height: 100vh;
	
}

article{
	padding:50px 0px 30px 30px;
	
}

.encabezado{
	width: 100%;
	height: 50px;
	background-size: 100%;
	padding: 30px 0px 30px 0px;
	margin-top: 20px;
	margin-bottom:10px;
	background-color: #5e5cb9;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: bottom;
	border-radius: 30px;
}

h1{
	color: #f788c0;
	font-family:"Tahura", "sans serif";
	font-kerning: 20px;
	font-weight: normal;
	font-size: 40px;
	list-style: none;
	display:flex;
	justify-content:center;
	align-items: baseline;
	border-radius: 30px;
}
.encabezado h7{
	display:flex;
	justify-content:center;
	align-items: baseline;
}
.encabezado a{
	text-decoration: none;
	color: #f788c0;
}
h2{
	font-size: 25px;
	
}
h3{
	font-size: 18pt;
	padding-left:5pt;
	border-left: 45px;
	margin-bottom: 10pt;
	width:450px;
}
h4{
	font-size: 15pt;
}
h5{
	font-size: 18pt;
	padding-left:5pt;
	background-color: #f788c0;
	border-radius: 30px;
	border-left: 45px;
	margin-bottom: 10pt;
	width:450px;
}
p{ 
	font-family: "RM Nenue";
	
}

nav{
	width: 100%;
	border-radius: 30px;
	display:flex;
	justify-content:center;
	align-items: baseline;
}
nav ul{
	list-style: none;
	width: 600px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	
	
}


.contacto{
	padding:10px 0px 10px 0px;
	color: #6162be;
	background-color:#f788c0;
}
.contacto a{
	text-decoration:none;
	color: #6162be;
}
.contacto a:hover{
	color:#fff5fd;
	background-color:#6162be;
	padding:10px 10px 10px 10px;
}
#polaroid{
	width: inherit;
}

.presentacion{
	padding:10px 0px 10px 0px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

img{
	margin: 0px 10px 0px 0px;
	display:flex;
	flex-direction: column;
}

.sobremihobbies{
	width:70%;
	border-radius: 30px;
	background-color:#Fde1f7;
	background-size: 100%;
}

.sobremi{
	padding-right: 90px;
	
}
.hobbies{
	border-radius: 30px;
	background-color:#Fde1f7;
	padding: 0px 110px 0px 30px;
}
.cajarosa{
	padding-left:5pt;
	background-color: #f788c0;
	border-radius: 30px;
	margin-bottom: 10pt;
	padding:20px 0px 20px 10px; 
	
}

.experienciayatributos{
	padding:10px 0px 10px 0px;
	flex-direction: column;
	justify-content: flex-end;
	align-self:flex-end;
}

.experiencia{
	background-color:#c3e7b9;
	border-radius: 30px;
	
}
.experiencia{
	display:flex;
	flex-direction: column;
}
.atributos {
	width: 25%;
}
.atributos ul{
	list-style: none;
	display:flex;
	flex-direction:row;
}
.atributos ul li{
	width:80%;
	background-color: #f788c0;
	border-radius: 30px;
	margin: 0px 10px 0px 10px;
	padding:20px 15px 20px 15px;
}

.adobe{
	margin-bottom: 10px;
}
.contbold{
	font-size: 20px;
	padding-right: 20px;
}
/*footer*/
footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.redes{
	padding: 0px 8px;
}
.texto-footer {
	padding: 0px 0px 0px 64px;
	font-size: 1.0625em;
	display:flex;
	flex-direction: row;
	align-items: baseline;
}
.texto-footer p{
	padding-left: 5px;
}
.contacto .texto-footer a:hover{
	background-color: transparent;
	padding: 0px 0px 0px 0px;
}
.redes-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 64px 0px 0px;
}
.contacto .redes-footer a:hover{
	background-color: transparent;
	padding: 0px 0px 0px 0px;
}
.hola-animacion{
	padding: 80px 0px 0px 0px;
	color: #f788c0;
}
.hola-animacion #Hola{
	font-size: 80px;
}

/*-------animacion index---------*/
.hola-animacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 0px 50px 0px;
	width: 80%;
	height: 500px;
	background-image: url("img/index/animacion_1.png");
	background-size: 100%;
	animation: hola-animacion 2s infinite ease-in-out;
	animation-delay: 0s;
	animation-fill-mode: none;
	animation-play-state: running;
	background-repeat: no-repeat;
}
@keyframes hola-animacion{
	0%{
		background-image: url("img/index/animacion_1.png");
	}
	50%{
		background-image: url("img/index/animacion_2 .png");
	}
	100%{
		background-image: url("img/index/animacion_3.png");
	}
}
/*-------footer---------*/


@font-face{
	font-family: "Tahura";
	src: url("tipos/Tahura.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "RM Nenue";
	src: url("tipos/RMNeue-Regular.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:"RM Nenue Bold";
	src: url("tipos/RMNeue-Bold.otf");
	font-weight: normal;
	font-style: normal;
	
}
/*--------------------------------contacto.HTML----------------------------------------*/
#main-contacto {
	display: flex;
	justify-content: center;
	padding: 45px 0px 50px 0px;
	font-family: "RM Nenue"
}

#formulario{
	background-color: #Fde1f7;
	box-sizing: content-box;
	border-radius: 30px;
	padding:20px 20px 50px 20px;
}

form{
	width:100%;
	padding:10px 0px 30px 0px;
	display: flex;
	flex-direction: row;
	
}
form {
	width: 100%;
}
form div{
	padding: 15px 25px 20px 0px;
	
}
#columnadatos{
	width: 30%;
}
input{
	height: 20px;
	border: none;
	background-color:transparent;
    border-bottom: 1px solid #000;
	outline:none;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 15px 0px;
}
::placeholder {
	color:black;
	font-family: "RM Nenue Bold";
	font-size: 18px;
	outline: none;
}
textarea{
	border: none;
	height: 100px;
	font-family: "RM Nenue";
	padding-bottom: 55px;
}
#enviar{
	width: 100px;
	height: 26px;
	padding: 5px 5px 5px 5px;
	margin: 5px;
	border:none;
	font-family: "RM Nenue";
	font-size: 20px;
	color: #Fde1f7;
	background-color: #5e5cb9;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
}
input [type=checkbox]{
	font-size: 5px;
}


#footer-formulario{
	position: absolute;
	bottom: 0;
}
/*-------animacion contacto---------*/
#carta-animacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 0px 0px 0px;
	width: 40%;
	height: 400px;
	background-image: url("img/contacto/carta_animacion_1.png");
	background-size: 100%;
	animation: carta-animacion 2s alternate infinite ease-in-out;
	animation-delay: 0s;
	animation-fill-mode: none;
	animation-play-state: running;
	background-repeat: no-repeat;
}
@keyframes carta-animacion{
	0%{
		background-image: url("img/contacto/carta_animacion_1.png");
	}
	50%{
		background-image: url("img/contacto/carta_animacion_2.png");
	}
	100%{
		background-image: url("img/contacto/carta_animacion_3.png");
	}
}

/*--------------------------------galeria.HTML----------------------------------------*/

#menugaleria{
	width: 50%;
	display:flex;
	flex-direction: row;
	align-content: center;
}
#menugaleria li a{
	color: black;
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: center;
}

/*--------------------------------ilustracion_galeria.HTML----------------------------------------*/
#ilusdigital{
	padding: 15px 0px 20px 0px;
}
#ilusdigital h2{
	display: flex;
	justify-content: center;
	
}
.carrusel {
	border: none;
	padding: 20px 0px 20px 0px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.carrusel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 510px;
	scroll-behavior: smooth;
}

.carrusel-fotos {
	display: flex;
	gap: 10px;
	overflow: auto;
	align-items: center;
}

.carrusel-fotos img {
	height: 400px;
	width: inherit;
	object-fit: contain;
	border-radius: 30px;
}
#Carruselmenu{
	padding: 0px 0px 30px 0px;
	display:flex;
	justify-content:center;
	align-items: baseline;
	align-items: center;
}
#Carruselmenu .carrusel-menu{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	
}

.carrusel-menu ul li a{
	display: flex;
	flex-direction: row;
}
.carrusel-menu img{
	border-radius:10%;
}
.epigrafe{
	display: flex;
	justify-content:center;
}
@media screen and (min-width: 1200px) {
	/*index*/
  .carrusel-fotos {
    overflow: hidden;
  }
  .carrusel-fotos img {
    width: 500px;
    height: 400px;
	  border-radius: 30px;
  }
  .carrusel-menu {
    display: none;
	list-style: none;
  }
  .carrusel-menu img {
	 display: block;
    height: 40px;
	  
  }
	.presentacion{
	flex-direction: row;
}
}
@media screen and (max-width: 600px){
	.presentacion{
		
		justify-content: center;
		flex-direction: column-reverse;
	}
	.sobremihobbies{
		width: 100%;
	}
	#polaroid{
		padding: 5px 0px 5px 0px;
		width: 90%;
		height: 90%;
		align-items: center;
	}
	.atributos{
		width: 50%;
	}
	.atributos ul li{
		width: 50%;
		flex-direction: column;
}
	.hola-animacion {
	height: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 225px 0px 0px 0px ;
	background-position: relative;
	}
	
	div #menugaleria{
	display: none;
	width: 50%;
	}
	ul .carrusel-menu{
		display: none;
		}
	 .carrusel-menu {
    display: none;
	list-style: none;
  }
  .carrusel-menu img {
	display: block;
    height: 40px;
	}
	#main-contacto {
	flex-direction: column;
}
	
	#carta-animacion{
		padding-bottom: 440px;
		align-items: center;
		width: 100%;
		height: 0px;
		display: flex;
		background-attachment: scroll;
	}
	
	form{
		
		flex-direction: column;
	}
	#columnadatos{
	width: 100%;
}
}
	